.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#eef2f7;
}

.card{
  width:350px;
  padding:40px;
  background:white;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

input{
  padding:14px;
  border-radius:10px;
  border:1px solid #ccc;
}

button{
  padding:14px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.secondary{
  background:#ddd;
}